.whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 20px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -0px;
	height: calc(100% + 0px);
}


@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
		
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}
		
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
	
		.whb-general-header-inner {
		height: 52px;
		max-height: 52px;
	}
	
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}
	
	
	}
		
.whb-general-header {
	background-color: rgba(212, 227, 245, 1);
}
